.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1em 0;
  & .logo{
    margin: 30px 0;
    width: 200px;
    height: 60px;
    g > path:nth-of-type(1) {
      fill: var(--primary-color);
    }
  }
  & .frase{
    font-size: 26px;
    color: var(--font-color);
    margin: 0 0 30px 0;
  }
}


 .social{
    display: flex;
    margin-bottom: 30px;
    & .item{
      margin: 0 10px;
      & .link{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        & svg path{
          fill: #fff;
        }
        &:hover{
          background: transparent;
          box-shadow: none;
          transition: 0.5s all;
          transform: scale(1.5);
          & svg path{
            fill: var(--primary-color);
          }
        }
      }
    }
  }


.footer{
  & .feito{
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    color: #fff;
    & svg{
      & path{
        fill: #fff;
      }
      margin: 0 5px;
    }

    &:hover{
      & .heart path{
        transition: 0.5s all;
        fill: #d54b40;
      }
    }
  }
}

@media screen and (max-width: 650px){
  .footer{
    padding: 1em 1em;
    & .frase{
      font-size: 18px;
      text-align: center;
    }
  }
}
