.section{
  & > .title{
    color: var(--font-color);
    font-size: 48px;
    text-align: center;
    margin: 15px 0;
  }
  & > .subtitle{
    color: var(--font-color);
    font-size: 16px;
    text-align: center;
    margin: 15px 0 40px 0;
    padding: 0 20px;
    font-size: 18px;
  }
  &Full {
    height: 85vh;
    display: grid;
    grid-template-rows: 65vh 15vh;
  }
  &Space {
    margin-top: 40px;
  }
}

@media screen and (max-width: 375px){
  .sectionFull {
    height: 90vh;
    display: grid;
    grid-template-rows: 68vh 15vh;
  }
}

@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .sectionFull {
    height: 55vh;
    display: grid;
    grid-template-rows: 40vh 15vh;
  }
}

