.typing{
  border-right: 2px solid #fff;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(27) forwards infinite, blink-caret .8s step-end infinite;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes blink-caret{
  from, to{
    border-color: transparent;
  }
  50%{
    border-color: #fff;
  }
}

@keyframes typing{
  0%{
    width: 0%;
  }
  30%{
    width: 100%;
  }
  80%{
    width: 100%;
  }
  90%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}
