:root {
  --primary-background: #050E1C;
  --primary-color: #E24B52;
  --font-color: #FFFFFF;
}

[data-theme='yellow'] {
  --primary-background: #1A001B;
  --primary-color: #F3F31C;
  --font-color: #FFFFFF;
}
