.form{
  padding: 0 4%;
  display: grid;
  grid-gap: 10px;
}

.block{
  width: 100%;
  position: relative;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1000px;
  & .input{
    width: 100%;
    height: 100%;
    color: var(--font-color);
    padding-top: 10px;
    border: none;
    outline: none;
    background: transparent;
    &:focus + .label .content,
    &:valid + .label .content{
      transform: translateY(-150%);
      font-size: 14px;
      color: var(--primary-color);
    }
    &:focus + .label::after,
    &:valid + .label::after {
      transform: translateX(0%);
    }
  }
  & .label {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid var(--primary-color);
    &::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid var(--primary-color);
      transform: translateX(-100%);
      transition: transform 0.3s ease;
    }
    & .content{
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 0.3s ease;
      color: var(--font-color);
    }
  }
  & .btn{
    margin-top: 10px;
    width: 100%;
    background: var(--primary-color);
    color: var(--font-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 19px;
    &:hover{
      border: 2px solid var(--primary-color);
      background: transparent;
      transition: all .4s ease;
    }
  }
}

.sendSuccess{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  & .icon {
    width: 150px;
    & path{
      fill: var(--primary-color);
    }
  }
  & > .title {
    color: var(--primary-color);
    margin: 10px 0;
    font-size: 32px;
    @media screen and (max-width: 420px){
      font-size: 26px;
    }
    @media screen and (max-width: 350px){
      font-size: 20px;
    }
  }
  & > .text {
    color: var(--font-color);
    margin-bottom: 10px;
  }
}
