.projects {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 4%;
  max-width: 1200px;
  @media screen and (max-width: 950px){
    flex-direction: column;
  }
  & .info {
    margin-right: 40px;
    & > .title {
      font-size: 26px;
      color: var(--primary-color);
      font-weight: bold;
      margin-bottom: 10px;
    }
    & > .description {
      margin-bottom: 20px;
      & .link{
        color: var(--primary-color);
      }
    }
    & .pages {
      margin-top: 20px;
      & .btnLeft {
        background: var(--primary-color);
        border: 1px solid var(--primary-color);
        margin-right: 10px;
        padding: 5px;
        cursor: pointer;
        & svg {
          fill: #fff;
          transform: rotate(180deg);
        }
        &:hover {
          transform: scale(1.08);
          transition: all .5s;
          background: var(--primary-background);
        }
      }
      & .btnRight {
        background: var(--primary-color);
        border: 1px solid var(--primary-color);
        padding: 5px;
        cursor: pointer;
        & svg {
          fill: #fff;
        }
        &:hover {
          transform: scale(1.08);
          transition: all .5s;
          background: var(--primary-background);
        }
      }
    }
  }
  & .case {
    & .image {
      @media screen and (max-width: 650px) {
        width: 100%;
      }
    }
  }
}
